body {
  font-family: monospace;
}

ul li {
  list-style: circle;
}

ul.list li {
  list-style: square;
}

#msg {
  font-family: helvetica; /* Corrigido de "helvética" para "helvetica" */
}

.light-theme {
  color: #000000;
  background: #00FF00;
}
:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
}
.list {
  list-style-type: disc; /* Bolinha cheia (padrão) */
}

.circle {
  list-style-type: circle; /* Bolinha oca */
}